aiobotocore==0.9.3
aiofiles==0.3.2
aiohttp==3.4.2
appdirs
async-generator==1.10
async-timeout==3.0.0
attrs
beautifulsoup4
botocore
certifi
chardet
docutils
entrypoints
flake8
fuckcaptcha
idna
jmespath
mccabe
multidict
numpy
opencv-python
peewee
Pillow
pocketsphinx
psutil
pycodestyle
pydub
pyee
pyflakes
pyppeteer
pyppeteer-stealth
python-dateutil
PyYAML
requests
six
soupsieve
SpeechRecognition
tqdm
urllib3
user-agent
websockets==8.1
wrapt
yarl
random-user-agent